@use 'colors' as *;


body{
    background-color: $white;
    color: $black;
    display: grid;
    grid-template-rows: 85.6px 1fr;
}

nav{
    display: flex;
    align-items: center;
    color: $black;
    padding-inline: 2rem;
    background-color: $green;
    border-bottom: 5px solid $dark-green;
    }
    h1{
        flex-grow: 1;
    }
    ul{
        align-self: center;
        display: flex;
        list-style: none;
        gap: 2rem;
        align-items: center;
        li{
            a:has(ion-icon){
                color: $black;
                ion-icon{
                    font-size: 1.7rem;
                }
            }
            .nav-link{
                color: $black;
                text-decoration: none;
                position: relative;
                isolation: isolate;
                &:hover::after{
                    transform: scaleY(1);
                }
                &::after{
                    position: absolute;
                    content: '';
                    z-index: -2;
                    height: 100%;
                    width: calc(100% + 10px);
                    background-color: $dark-green;
                    left: -5px;
                    right: -5px;
                    transform: scaleY(0);
                    transition: transform 300ms;
                    transform-origin: top;
                }
            }
        }
    }

