@use 'colors' as *;

.btn{
    cursor: pointer;
    background-color: $green;
    color: $black;
    border-radius: 10px;
    border: .1rem solid $black;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: background-color 200ms;
    font: inherit;
    &:hover{
        background-color: $dark-green;
    }
}

