@use 'partials/index' as *;

main{
    .text{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        p{
            max-width: 1200px;
        }
    }
    .stats{
        margin-top: 2rem;
        background-color: $purple;
        border-radius: 10px;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin-inline: auto;
        width: max-content;
        h3,h2{
            margin-block: .2em;
        }
        p{
            max-width: 20rem;
        }
        .stat-2{
            border-left: 1px solid $black;
            border-right: 1px solid $black;
        }
    }
}
  