@use 'partials/index' as *;

main{
    padding: 2rem;
    .info{
        margin-bottom: 1rem;
        h2,h3{
            margin-block: .5em;
        }
    }
    .cart{
        border-radius: 10px;
    }
    .product{
        border-bottom: .1rem solid $black;
        height: 10rem;
        width: max-content;
        padding: .5rem;
        display: flex;
        gap: 1rem;
        img{
            border-radius: 10px;
        }
        h2,h3{
            margin-block: .1rem;
        }
        h2{
            margin-right: 3rem;
        }
        h4{
            color:#4f4e4e;
        }
        .details{
            margin-right: 3rem;
        }
        p{
            margin: 0;
            margin-top: 1.5rem;
        }
        .price{
            text-align: right;
            margin-bottom: 1rem;
        }
        .btn{
            padding: .5rem 3rem;
        }
    }
}