@use 'partials/index' as *;

main{
    display: grid;
    place-items: center;
    .product{
        display: flex;
        gap: 2rem;
        border-radius: 10px;
        img{
            width: 20rem;
            object-fit: cover;
            border-radius: inherit;
        }
        .info{
            border-radius: inherit;
            padding: 1rem;
            border: 1px solid $black;
            h2{
                margin-top: 0;
            }
            .customize{
                form{
                    h3{
                        margin-block: .2rem;
                    }
                }
            }
        }
    }
}