@use 'partials/index' as *;

main{
    display: grid;
    place-items: center;
    padding: 2rem;
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border-radius: 10px;
        max-width: 70rem;
        img{
            object-fit: cover;
            border-radius: inherit;
        }
        .info{
            border-radius: inherit;
            padding: 1rem;
            border: 1px solid $black;
            h2{
                margin-top: 0;
            }
            .customize{
                form{
                    h3{
                        margin-block: .2rem;
                    }
                    label{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}