@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@800&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Hind", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #96bdc6;
  color: #272727;
  display: grid;
  grid-template-rows: 85.6px 1fr;
}

nav {
  display: flex;
  align-items: center;
  color: #272727;
  padding-inline: 2rem;
  background-color: rgba(241, 143, 1, 0.05);
  border-bottom: 5px solid #F18F01;
}

h1 {
  flex-grow: 1;
}

ul {
  align-self: center;
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
ul li .nav-link {
  color: #272727;
  text-decoration: none;
  position: relative;
  isolation: isolate;
}
ul li .nav-link:hover::after {
  transform: scaleY(1);
}
ul li .nav-link::after {
  position: absolute;
  content: "";
  z-index: -2;
  height: 100%;
  width: calc(100% + 10px);
  background-color: rgba(241, 143, 1, 0.3);
  left: -5px;
  right: -5px;
  transform: scaleY(0);
  transition: transform 300ms;
  transform-origin: top;
}
ul li .nav-btn {
  background-color: #e9d6ec;
  color: #272727;
  border-radius: 10px;
  padding: 1rem;
  transition: background-color 200ms;
}
ul li .nav-btn:hover {
  background-color: #d6b3dc;
}

.btn {
  cursor: pointer;
  background-color: #F18F01;
  color: #272727;
  border-radius: 10px;
  border: 0.1rem solid #272727;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 200ms;
  font: inherit;
}
.btn:hover {
  background-color: #fe9c0e;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  width: 100%;
  height: max(100vh - 85.6px, 40rem);
}
main .hero {
  position: relative;
  display: grid;
  place-items: center;
}
main .hero .card {
  z-index: 100;
  opacity: 0;
  animation: pop 0.5s 0.9s forwards;
  padding: 0.5rem;
  background-color: #e9d6ec;
  border: 2px solid #272727;
  border-radius: 10px;
  width: 250px;
  position: absolute;
}
main .hero .card:hover .text {
  grid-template-rows: 1fr 2fr;
}
main .hero .card img {
  border-radius: 10px;
}
main .hero .card .text {
  transition: grid-template-rows 500ms;
  display: grid;
  grid-template-rows: 0fr 0fr;
}
main .hero .card .text h2 {
  overflow: hidden;
  margin: 0;
  text-align: center;
}
main .hero .card .text p {
  overflow: hidden;
  margin: 0;
  text-align: center;
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .hero .card-1 {
  top: 2.5rem;
  left: 5rem;
  rotate: -2deg;
}
main .hero .card-2 {
  right: 4rem;
  top: 11rem;
  rotate: 3deg;
}
main .hero .img-container {
  width: 400px;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
  aspect-ratio: 1;
  animation: zoom 0.7s ease-in;
}
@keyframes zoom {
  from {
    width: 600px;
  }
  to {
    width: 400px;
  }
}
main .hero .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
}
main .hero .img-container h1 {
  text-align: center;
  line-break: balance;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  padding: 0.2rem;
  border-radius: inherit;
  color: #e9d6ec;
}/*# sourceMappingURL=styles.css.map */