@use 'partials/index' as *;

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
        width: 100%;
        height: max(calc(100vh - 85.6px), 40rem);
    }
    .hero{  
        position: relative;
        display: grid;
        place-items: center;
        .card{
            z-index: 100;
            opacity: 0;
            animation: pop .5s .9s forwards;
            padding: .5rem;
            background-color: $purple;
            border: 2px solid $black;
            border-radius: 10px;
            width: 250px;
            position: absolute;
            &:hover .text{
                grid-template-rows: 1fr 2fr;
            }
            img{
                border-radius: 10px;
            }
            .text{
                transition: grid-template-rows 400ms;
                display: grid;
                grid-template-rows: 0fr 0fr;
                h2{
                    overflow: hidden;
                    margin: 0;
                    text-align: center;
                }
                p{
                    overflow: hidden;
                    margin: 0;
                    text-align: center;
                }
            }
            @keyframes pop {
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        }
        .card-1{
            top: 2.5rem;
            left: 5rem;
            rotate: -2deg;
        }
        .card-2{
            right: 4rem;
            top: 14rem;
            rotate: 3deg;
        }
            .img-container{
                width: 400px;
                max-width: 600px;
                position: relative;
                border-radius: 10px;
                aspect-ratio: 1;
                animation: zoom 600ms ease-in;
                @keyframes zoom{
                    from{
                        width: 600px;
                    }
                    to{
                        width: 400px;
                    }
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 10px;
                }
                h1{
                    text-align: center;
                    line-break: balance;
                    position: absolute;
                    width: max-content;
                    top: 8rem;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: auto;
                    backdrop-filter: blur(1rem);
                    padding: .2rem;
                    border-radius: inherit;
                    color: $purple;
                }
            }
    }
}